<h1>Surgeries</h1>

<section id="surgeries-">
  <% @surgeries.each do |surgery| %>
  <h2><%= link_to surgery.title, surgery_path(surgery) %></h2>
    <% surgery.doctors.each do |doctor| %>
      <p class="doctor"><%= doctor.name %></p>
    <% end %>
  <% end %>
</section>
